<section class="Login">
  <div class="wrapper wrapper-responsive">
  <!-- Columna izquierda (en mobile queda arriba, en desktop a la izquierda) -->
   <div class="section-left">
     <div class="header mt-3 mb-3">
      <div class="d-flex flex-direction-row justify-content-start justify-content-md-start w-100">
        <img src="assets/images/logo-marcas.png" class="logo-marca logo-marca-desktop" alt="Logo marcas">
      </div>
    </div>
    <!--Imagen Principal-->
    <div class="d-flex flex-direction-row justify-content-start justify-content-md-start w-100">
       <img src="assets/images/login-img-lg.png" class="login-img login-img-desktop" alt="Imagen Login">
    </div>
   </div>

    <!-- Columna derecha (en mobile queda debajo, en desktop a la derecha) -->
   <div class="section-right">
    <div class="login-body">
      <div class="form-login form-login-desktop">
        <h1 class="title-login"> Inicio de Sesión</h1>

        <!--Correo Electronico-->
        <mat-form-field class="inputs-login" appearance="outline">
          <mat-label>Correo Electrónico</mat-label>
          <input [(ngModel)]="username" type="email" matInput placeholder="Ingresa correo electrónico">
        </mat-form-field>
        <div *ngIf="errors.username" class="invalid-feedback">{{ errors.username }}</div>

        <!--Contraseña-->
        <mat-form-field class="inputs-login" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input [(ngModel)]="password" type="password" matInput placeholder="Ingresa contraseña">
        </mat-form-field>
        <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>

        <!-- Recuperar contraseña -->
        <span class="label-pwd" style="cursor: pointer;" (click)="recuperarPwd()">
          Recupera tu contraseña
        </span>

        <!-- Botón de ingreso -->
        <div class="d-flex flex-direction-row justify-content-center w-100 mt-4 mb-4">
          <button mat-flat-button type="button" class="btn-login" (click)="login()">
            <span class="text-btn">Ingresar</span>
          </button>
        </div>

        <hr>

        <div class="d-flex flex-direction-row justify-content-center w-100">
        <span class="txt-registro">
          ¿Aún no tienes una cuenta?
          <span class="red" (click)="goRegistro()"> Regístrate</span>
        </span>
      </div>
      </div>
    </div>
   </div>
  </div>
  <div class="footer-desktop">
    <img src="assets/images/liston-img.png" alt="Footer">
  </div>
</section>
